/*Setting the position of the map*/
#map {
  float: center;
  height: 100%;
  width: 90%;
  margin-left: 2%;
  padding:0px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 90%;
  margin: 0;
  padding: 0;
}

.icon {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
p {
  margin-top: -10em;
  padding-left: 3em;
  display: inline;
}

.icon >div {
  padding-top: 1em;
}